.img-bg-italian{
    background: url('https://media.cnn.com/api/v1/images/stellar/prod/210211141204-05-classic-italian-dishes.jpg?q=w_1110,c_fill') center center / cover;
    height: 60vh;
    width: 100%;
    
  
}
/* .img-div-italian{
    width:50vw;
    height:60vh;
    margin:0 auto;
} */
