

.img-bg {
    background: url('https://img.freepik.com/premium-photo/fast-food-concept-set-hamburgers-cheeseburgers-french-fries-vegetables-sauces-dark-background-so-many-delicious-fast-food-items-top-view-table-ai-generated_538213-2442.jpg') center center / cover;
    height: 50vh;
    width: 100%;
    /* margin-top: 20px; */
  
}
