@media only screen and (max-width:1000px){
    .block1{
        width:100vw;
    }
}
@media only screen and (max-width:940px){
    .box{
        height:40px;
        width:40px;
        align-items: center;
    }
    .block{
        width:100vw;
    }
}
