.img-bgc{
    background: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQVQ4CbTzCCbc940X9udvl96GWQq6L7DusdQFJLRCkFyNfuUGQH') center center / cover;
    height: 80vh;
    width: 100%;
   
  
}
/* .img-div{
    width:50vw;
    height:60vh;
    margin:0 auto;
} */
