.img-bg-guju{
    background: url('https://i.ytimg.com/vi/NsCaW0RHwq0/sddefault.jpg') center center / cover;
    height: 60vh;
    width: 100%;
    
  
}
/* .img-div-guju{
    width:50vw;
    height:60vh;
    margin:0 auto;
} */